# Mandatory authentication parameters (API Keys)
APS_CLIENT_ID="your_client_id_from_developer_panel"
APS_CLIENT_SECRET="your_client_secret"

# Optional callback URL for OAuth authentication
APS_CALLBACK_URL="http://localhost:3000/api/aps/callback/oauth"

# Optional, but frequently used settings
APS_REGION="US" # Or "EMEA" for Europe
PORT=3000