# Mandatory authentication parameters (API Keys)
APS_CLIENT_ID="your_client_id_from_developer_panel"
APS_CLIENT_SECRET="your_client_secret"

# Optional callback URL for OAuth authentication
APS_CALLBACK_URL="http://localhost:2504/api/aps/callback/oauth"

# Optional, but frequently used settings
APS_REGION="US" # Or "EMEA" for Europe
APS_DOCUMENT_URN="urn:YOUR_BASE64_ENCODED_URN_HERE"
PORT=2504